/* partials/_main.scss */
html{
	height: auto;
}

body{
	background-image: url(../img/home-bg.jpg);
	background-repeat: repeat;
	background-position: center;
	padding-top: 55px;
	height: auto;
}

header.-mobile{
	position: fixed;
	width: 100%;
	height: auto;
	top: 0;
	left: 0;
	z-index: 220;
	background: #fff;
	padding: 5px 0 5px 5px;
	@include box-shadow(0 0 10px #333);
	h1.logo{
		width: 60px;
		margin: 0;
		float: left;
		img{
			width: 100%;
			height: auto;
		}
	}
	button.menu-btn{
		font-size: 2rem;
		background-color: transparent;
		border: 0;
		outline: none;
		padding: 10px;
		right: 0;
		top: 50%;
		position: absolute;
		@include translate(0, -50%);
	}
	button.close-btn{
		position: absolute;
		top: 0;
		right: 0;
		color: #fff;
		padding: 0.5em;
		font-size: 2em;
		border: 0;
		outline: none;
		background-color: transparent;
	}
	nav{
		position: fixed;
		top: 0;
		right: -100%;
		width: 100%;
		height: 100%;
		text-align: right;
		background: $brown;
		padding-top: 50px;
		visibility: hidden;
		@include transition(0.15s ease-out);
		@include opacity(0);
		&.-active{
			right: 0;
			visibility: visible;
			@include opacity(1);
		}
		a{
			display: block;
			font-size: 2rem;
			color: #fff;
			padding: 0.5em;
		}
		.bottle{
			width: 60%;
			position: absolute;
			left: 0;
			top: 50%;
			@include translate(0, -50%);
		}
	}
}


/* partials/_main.scss */
section.-item{
	padding-top: 0;
	background-image: none;
	> .container{
		padding: 0;
	}
	&:after{
		display: none;
	}
}

/* partials/_intro.scss */
.intro{
	h1.logo{
		margin-bottom: 0;
		width: 75%;
		min-width: 250px;
	}
	.maior, .menor{
		font-size: 1.5rem;
		line-height: 100%;
	}
		span.cup{
			@include scale(0.7);
		}
		.aprecie{
			margin-top: 0;
		}
}

/* partials/_home.scss */
section.home{
	height: auto;
	.post{
		h1{
			img{
				width: 50%;
			}
		}
	}
}

/* partials/_noticias.scss */
section.noticias{
	.-list{
		article{
			flex-direction: column;
			.thumb{
				height: 100px;
			}
		}
	}
}

/* partials/_aqui-tem.scss */
section.aqui-tem{
	.title{
		padding: 0;
		h1{
			img{
				width: 75%;
			}
		}
	}
	.-list{
		margin-top: 0;
	}
	.state{
		margin-bottom: 20px;
	}
}

/* partials/_contato.scss */
section.contato{
	margin-top: 0;
	> .container{
		padding: 0;
	}
	form{
		padding-top: 0;
	}
}
.whatsapp{
	position: static;
	margin-top: 20px;
	h1{
		font-size: 1.8rem;
		display: block;
		&:after{
			top: 80%;
			right: 10px;
		}
	}
	ul{
		width: 100%;
	}
}

/* partials/_footer.scss */
footer.rodape{
	background-image: none;
	min-height: auto;
	padding: 0 0 30px;
	nav.social{
		padding-top: 80px;
		position: relative;
		left: -10px;
		@include rotate(0deg);
	}
}
