section.contato{
	margin-top: 150px;
	position: relative;
	z-index: 10;
	form{
		padding-top: 50px;
		h1{
			font-size: 2rem;
			text-transform: uppercase;
			margin-bottom: 1.5em;
		}
		ul{
			li{
				list-style: none;
				position: relative;
			}
		}
				input[type="text"], input[type="email"], textarea{
					width: 100%;
					font-size: 1.5rem;
					padding: 0.5em;
					margin-bottom: 1em;
					border: 1px solid #000;
					font-style: italic;
					font-family: Helvetica, Arial;
				}
				textarea{
					height: 9.6em;
				}
				input[type="submit"]{
					background: $brown;
					border: 1px solid $brown;
					color: #fff;
					padding: 0.5em 2em;
					font-style: italic;
					font-size: 1.4rem;
					float: right;
					font-family: Helvetica, Arial;
					@include transition(0.15s ease-out);
					&:hover{
						background: #fff;
						color: $brown;
					}
				}
	}
}
