footer.rodape{
	min-height: 425px;
	background-image: url(../img/home-bg.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	position: relative;
	overflow: hidden;
	nav.social{
		border-bottom: 1px solid $brown;
		position: absolute;
		width: 85%;
		text-align: right;
		padding-right: 50px;
		top: 65%;
		left: 0;
		z-index: 10;
		@include rotate(-12deg);
		a.icon{
			font-size: 3rem;
			display: inline-block;
			padding: 0 0.25em;
		}
		&:after{
			content: "";
			float: left;
			background-image: $sprite;
			position: absolute;
			bottom: -1px;
			right: 0;
			z-index: -1;
			@include sprite($sprite, tree, true);
			@include translate(50%, 0);
		}
	}
}

.whatsapp{
	width: 100%;
	position: absolute;
	bottom: -275px;
	h1{
		margin: 0 0 0.5em;
		background-color: #5C3E2F;
		color: #fff;
		font-size: 2.5rem;
		padding: 1em 2em;
		position: relative;
		display: inline-block;
		@include border-radius(20px);
		&:after{
			content: "";
			position: absolute;
			top: 100%;
			right: 20px;
			background-image: $sprite;
			margin-top: -1px;
			@include sprite($sprite, arrow, true);
		}
	}
	ul{
		width: 370px;
		padding: 0;
		li{
			list-style: none;
			color: $brown;
			font-size: 3rem;
			line-height: 100%;
			text-align: center;
			padding-right: 2em;
		}
	}
}
