@charset "UTF-8";

@include font-face("Baraúna Icons", font-files("barauna-icons.ttf", "barauna-icons.woff", "barauna-icons.svg"), "barauna-icons.eot", 500, normal);

[data-icon]:before {
	font-family: "Baraúna Icons" !important;
	content: attr(data-icon);
	font-style: normal !important;
	font-weight: normal !important;
	font-variant: normal !important;
	text-transform: none !important;
	speak: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
	font-family: "Baraúna Icons" !important;
	font-style: normal !important;
	font-weight: normal !important;
	font-variant: normal !important;
	text-transform: none !important;
	speak: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-rss:before {
	content: "a";
}
.icon-facebook:before {
	content: "b";
}
.icon-linkedin:before {
	content: "c";
}
.icon-twitter:before {
	content: "d";
}
