.intro{
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 300;
	background-image: url(../img/home-bg.jpg);
	background-position: center;
	background-size: cover;
	h1.logo{
		min-width: 300px;
		width: 90%;
		max-width: 400px;
		margin: 0 auto 20px;
		img{
			width: 100%;
			height: auto;
		}
	}
	.content{
		position: absolute;
		top: 50%;
		left: 50%;
		width: 100%;
		@include translate(-50%, -50%);
	}
	.maior, .menor{
		text-align: center;
		background-color: transparent;
		border: 0;
		font-size: 2rem;
		outline: none;
	}
		span.cup{
			background-image: $sprite;
			display: inline-block;
			&.-full{
				@include sprite($sprite, cup-full, true);
			}
			&.-empty{
				@include sprite($sprite, cup-empty, true);
			}
		}
	.aprecie{
		text-align: center;
		margin-top: 100px;
		img{
			width: 75%;
			height: auto;
		}
	}
}
