html{ height: 100%; font-size: 62.5%; }
body{ width: 100%; height: 100%; max-width: 1920px; margin: auto; color: $brown; font-family: BreeSerif, Helvetica, Myriad Pro, Arial; }

/* Font face - BreeSerif */
@include font-face("BreeSerif", font-files("breeserif-regular-webfont.ttf", "breeserif-regular-webfont.woff", "breeserif-regular-webfont.svg"), "breeserif-regular-webfont.eot", 500, normal);

body{
	> div.overflow-wrapper{
		overflow-x: hidden;
		float: left;
		width: 100%;
	}
}

a{
	color: $brown;
	&:focus, &:hover{
		color: $black;
		text-decoration: none;
	}
}

h1, h2, h3, h4, h5{

}

.smooth{
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	-webkit-font-smoothing: antialiased;
}

em.error{
	position: absolute;
	top: -5px;
	right: -5px;
	background: $red;
	color: #fff;
	font-size: 80%;
	font-style: normal;
	text-transform: lowercase;
	padding: 2px 5px 4px;
	z-index: 100;
	font-style: italic;
	@include border-radius(4px);
}

span.overlay-all{
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background: #000;
	z-index: 210;
	visibility: hidden;
	@include transition(0.15s ease-out);
	@include opacity(0);
	&.-active{
		visibility: visible;
		@include opacity(0.4);
	}
}

.barauna-bottle{
	position: absolute;
	width: 100%;
	max-width: 1920px;
	z-index: 10;
	top: 50%;
	@include translate(0, -50%);
	&.-fixed{
		position: absolute !important;
		@include translate(0, 0);
	}
	img{
		width: 100%;
		height: auto;
	}
}

section.-item{
	position: relative;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	padding-top: 300px;
	&:first-of-type{
		padding-top: 0;
	}
	> .container{
		position: relative;
		z-index: 20;
		padding-top: 150px;
	}
	&:after{
		content: "";
		background: #fff;
		height: 50%;
		width: 2000px;
		bottom: 0%;
		left: 50%;
		position: absolute;
		z-index: 5;
		-webkit-transform: skew(0deg, -12deg) translate(-50%, 0);
		-ms-transform: skew(0deg, -12deg) translate(-50%, 0);
		-o-transform: skew(0deg, -12deg) translate(-50%, 0);
		transform: skew(0deg, -12deg) translate(-50%, 0);
	}
}

@media print,
		(-o-min-device-pixel-ratio: 5/4),
		(-webkit-min-device-pixel-ratio: 1.25),
		(min-resolution: 1.25dppx) {

	$sprite-path: sprite-path($sprite);
	$sprite-height: image-height($sprite-path);
	$sprite-width: image-width($sprite-path);

	background-image: $sprite-retina;
	background-size: $sprite-width $sprite-height;
}
