section.noticias{
	background-image: url(../img/noticias-bg.jpg);
	> .container{
		padding-top: 20px;
	}
	.-list{
		article{
			margin-bottom: 20px;
			display: flex;
			height: auto;
			background: #fff;
			.thumb{
				background-size: cover;
				background-position: center;
				background-repeat: no-repeat;
				background-color: $brown;
			}
			.content{
				padding: 10px;
				position: relative;
				text-align: justify;
			}
				time{
					position: absolute;
					top: 0;
					left: 0;
					background: $salmon;
					color: #fff;
					padding: 0.5em;
					float: left;
					font-size: 1.5rem;
				}
				h1{
					font-size: 2rem;
					margin: 2em 0 0.5em;
				}
				a.readmore{
					float: right;
					margin-bottom: 1em;
					font-size: 1em;
					border: 2px solid $brown;
					padding: 0.25em 0.5em;
					line-height: 100%;
					@include transition(0.15s ease-out);
					&:hover{
						background-color: $brown;
						color: #fff;
					}
				}
		}
		button.prev, button.next{
			color: $brown;
			font-size: 3.5rem;
			border: 0;
			background: transparent;
			text-transform: lowercase;
			outline: none;
			&.prev{
				float: left;
				&:before{
					content: "<<";
				}
			}
			&.next{
				float: right;
				&:after{
					content: ">>";
				}
			}
		}
	}
}
