.post{
	color: $brown;
	h1, h2, h3, h4, h5{
		text-transform: uppercase;
		font-weight: 700;
		margin: 0.2em 0;
		line-height: 100%;
		color: $brown;
	}
	h1{
		font-size: 8.4rem;
	}
	h2{
		font-size: 6.7rem;
	}
	h3{
		font-size: 5rem;
	}
	h4{
		font-size: 3.2rem;
	}
	h5{
		font-size: 1.6rem;
	}
	p{
		line-height: 150%;
		font-size: 1.5rem;
	}
}
