nav.menu{
	width: 100%;
	position: relative;
	z-index: 150;
	> .container{

	}
	h1.logo{
		width: 20%;
		float: left;
		padding: 0 10px;
		img{
			width: 100%;
			height: auto;
		}
	}
	ul{
		margin: 55px 0 0;
		border: 1px solid rgba(85, 64, 48, 0.3);
		border-left-width: 0;
		border-right-width: 0;
		width: 40%;
		float: left;
		li{
			list-style: none;
			display: inline-block;
			a{
				display: inline-block;
				padding: 1em;
				font-size: 1.5rem;
				text-transform: uppercase;
			}
		}
		&:first-child{
			text-align: right;
		}
		&:last-child{
			text-align: left;
		}
	}
}
