// Colors
$red:								#d70b2a;
$brown: 						#513727;
$salmon: 						#f09264;
$black: 						#1e1e20;
$gray: 							#5a5a5a;

// Font
$font-size: 				16;
$icon-font-path: 		"../fonts/bootstrap/";
$text-color: 				$black;

// Margins
$grid-gutter-width: 20px !default;

// Sprite mappers
$sprite: 						sprite-map("sprite/icons/*.png", $layout: "smart");
$sprite-retina: 		sprite-map("sprite/icons-2x/*.png", $layout: "smart");
